<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="apiController as api">
<p>Enter number of icons</p>
<input id="blaa" type="text" ng-model="api.quantity" >
<div id="main-content" >
    <div class="image" id="img-id-{{image.id}}" ng-repeat="image in api.images |limitTo:api.quantity">
        <div my-directive image="image"></div>
    </div>

</div>


<script type="text/javascript" src="js/app.module.js"></script>
<script type="text/javascript" src="js/factoryHttp.js"></script>
<script type="text/javascript" src="js/myResource.js"></script>
<script type="text/javascript" src="js/apiController.js"></script>
</body>
</html>