*{
    margin: 0;
    padding: 0;
}
.wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.image {
    float: left;
    margin: 8px;
    text-align: center;
    width: 150px;
    height: 220px;
    border: 1px solid cornflowerblue;
    border-radius: 20px;
    overflow: hidden;



}

#main-content{
    background: rgba(248, 255, 237, 0.67);
    width: 70%;
    margin-left: 15%;
}
.big-picture {
    margin-top: 40px;
}

#blaa{
    margin-top: 25px;
    margin-left: 25px;
}