.field{
   border: none;
}
.list {
    border: 1px solid lightcyan ;
    width: 250px;
    list-style-type:none;
    }
.remove-button{
    background: transparent;
    border: 0;
    float: right;

}
#remove-button-img{
    width: 7px;
    height: 7px;
}
.delete-all{
    background: transparent;
    border: 0;
}
