*{
    margin: 0;
}
header {

    width: 100%;
    background: url(logo.jpg) no-repeat left ;
    height: 115px;
    border: 1px solid;
}
header img{
    display: none;
}

.nav{
    width: 100%;
    text-align: center;
    background: burlywood;
}
.nav li{
    font-size: 25px;
    list-style: none;
    display: inline-block;
    padding: 30px;
}
.sidebar{
    float: left;
    width: 190px;
    height: 100%;
    border: 1px solid;

}
.sideitem{
    font-size: 30px;
    border: 1px solid;

}
.content{
    float: left;
    width: 70%;
    padding-left:3.9%;
    padding-top: 20px;

}
.content p{
    font-size: 24px;
}
.content img{
    width: 49%;
}
.content-main-img{
    height: 400px;

   background: url(js.jpg) no-repeat center;

}
footer{
    clear: both;
    text-align: center;
    font-size: 30px;
    background: #805f05;
}

@media (max-width: 799px) {
    header{

        background: url(small_logo.png) no-repeat left ;
    }
    .sidebar{
        display: none;
        float: none;
        width: 100%;
        text-align: center;


    }
    .content{
        width: 97%;
    }
    .nav li {
        font-size: 22px;
        padding: 0;
        padding-right: 2.5%;

    }
    header img{
        display: block;
        float: right;
    }
    .first{
        
        content: url(smallnode.png);
    }
    .second{
        content: url(smallmongo.png);
    }
    .content p{
        font-size: 20px;
    }
    .sideitem {
        display: inline-block;

    }


}
@media (max-width: 499px) {
    header{

        background: url(small_logo.png) no-repeat left ;
    }
    .sidebar{
        display: none;
        width: 100%;
        height: 22px;

        text-align: center;

    }
    .content{
        z-index: 1;
        width: 97%;
    }
    .nav {

        top: 20px;
       left: 34%;
        position: absolute;
        width: 33%;
        z-index: 10;

    }
    .nav ul {
        text-align: center;
        padding: 0;


    }
    .nav li{

        font-size: 16px;
    }
    header img{
        display: block;
        float: right;
    }
    .first{

        content: url(smallnode.png);
    }
    .second{
        content: url(smallmongo.png);
    }
    .content p{
        font-size: 17px;
    }
    .sideitem {
        display: inline-block;
        font-size: 17px;



    }
    .content-main-img{
        display: inline-block;
        height: 200px;
content: url(js.jpg);
        width: 100%;


    }
    footer{
        font-size: 19px;
    }


}